body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  margin: 20px;
  background:linear-gradient(to right, #ffffff, #53d9f1) ;
  color: #1f73a8;
}

nav {
  background-color:#e0e0e0;
  padding: 20px;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: rgb(18, 119, 192);
}

aside {
  flex: 1;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 20px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

aside h3 {
  color: #7e1919;
  margin-bottom: 10px;
}

aside ul {
  list-style-type: disc;
  padding-left: 20px;
}

aside li {
  margin-bottom: 5px;
}

aside a {
  text-decoration: none;
  color: #007Bff;
}

header h1 {
  margin-top: 0;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0 20px 4px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.content-wrapper {
  display: flex;
  padding: 20px;
  flex-direction: row;
}

.main-content {
  flex: 3;
  padding: 20px;
}

.column {
  float: left;
  padding: 10px;
}

.column.side {
  width: 25%;
}

.column.middle {
  width: 30%;
}

.column.side img {
  width: 30;
  height: 25px;
  display: flex;
  margin-left: 10px;
}

.column.side a {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: lch(84.81% 44.65 177.07);
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 600px){
  .column.side, column.middile {
      width: auto;
  }
}

@media (max-width: 768px) {
  .content-wrapper {
      flex-direction: column;
      padding: 10px;
  }

  nav ul {
      text-align: left;
  }

  nav li {
      display: block;
      margin-bottom: 5px;
  }

  iframe {
      width: 100%;
      margin-bottom: 5px;
  }
}

@media (max-width: 480px) {
  body {
      margin: 10px;
  }
  
  h1 {
      font-size: 1.2em;
  }
  h2 {
      font-size: 1.2em;
  }
}